
/* Leaflet CSS */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

/* GeoSearch CSS */
@import url('https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.css');

/* optional dark/light scheme tweaks */
:root {
  color-scheme: light dark;
}


body {
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease forwards;
}


/* Leaflet styles */
.leaflet-container {
  width: 100%;
  height: 300px;       /* enough to see map */
  border-radius: 12px;
  margin-top: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



/* tracking drivers */
/* in your global CSS or component's sx style */
.driver-icon img {
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease;
}

/* optional: rotate while moving */
.driver-icon-moving img {
  animation: rotate-car 1s linear infinite;
}

@keyframes rotate-car {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* customer form  */



/* The main search input */
.leaflet-control-geosearch input {
  font-size: 0.9rem;        /* smaller text */
  padding: 4px 8px;         /* tighter padding */
  width: 200px;             /* control width */
  border-radius: 6px;       /* rounded corners */
  border: 1px solid #ccc;   /* subtle border */
}

/* Placeholder text styling */
.leaflet-control-geosearch input::placeholder {
  color: #888;
  font-style: italic;
}

/* Adjust the container for mobile */
@media (max-width: 480px) {
  .leaflet-control-geosearch input {
    width: 140px;           /* smaller width on mobile */
    font-size: 0.8rem;
  }
}






.css-1qbc2pl {
  padding: 8px !important;       /* smaller padding */
}

.css-ptc1iv{
    height: 0 !important;
  }

@media (min-width: 600px) {
  .css-1qbc2pl {
    padding: 16px !important;
  }
}

@media (min-width: 900px) {
  .css-1qbc2pl {
    padding: 24px !important;
  }

  .css-ptc1iv{
    max-height: 0 !important;
  }
}
